### Today topics:
* Sets
* Dictionary
* Functions

### Set:

* Set is an unoredered elements.
* Elements of set are enclosed in {}
* Sets are mutable
* sets won't duplicate values/elements.
* we cannot access elements from the set using index values.

In [1]:
### set creation:
a = {1,2,3,4,5,6}
a

{1, 2, 3, 4, 5, 6}

In [2]:
len(a)

6

In [3]:
type(a)

set

In [5]:
b = {1,3,3,44,89,2,2} ### not allowing duplicate values.
b

{1, 2, 3, 44, 89}

In [6]:
c = {0.1,0.2,3,8} ##
c

{0.1, 0.2, 3, 8}

In [8]:
a = {1,2,3,[1,2,3]}  ## set will not allow immutable objects.
a

TypeError: unhashable type: 'list'

In [10]:
a = {1,2,3,(1,2,3)} ### set acceots the immutable objects.
a

{(1, 2, 3), 1, 2, 3}

In [11]:
c = set()
type(c)

set

In [13]:
myset = set((1,2,3,4,5))
myset

{1, 2, 3, 4, 5}

In [14]:
### looping of set elements:

myset = {1,2,3,4,5,6}

for i in range(len(myset)):  ### we cannot use loop range function in sets
    print(myset[i])

TypeError: 'set' object is not subscriptable

In [16]:
for i in myset:
    print(i,end = " ")

1 2 3 4 5 6

In [17]:
for i in enumerate(myset):
    print(i)

(0, 1)
(1, 2)
(2, 3)
(3, 4)
(4, 5)
(5, 6)

In [19]:
### set membership opeators:

myset = {"one","two","three","four","five"}
myset

{'five', 'four', 'one', 'three', 'two'}

In [20]:
"one" in myset

True

In [21]:
"six" in myset

False

In [23]:
if "one" in myset:
    print("one is present in the set")
else:
    print("one is not present in the set")

one is present in the set

In [24]:
help(set)

Help on class set in module builtins:

class set(object)
 |  set() -> new empty set object
 |  set(iterable) -> new set object
 |
 |  Build an unordered collection of unique elements.
 |
 |  Methods defined here:
 |
 |  __and__(self, value, /)
 |      Return self&value.
 |
 |  __contains__(...)
 |      x.__contains__(y) <==> y in x.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iand__(self, value, /)
 |      Return self&=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __ior__(self, value, /)
 |      Return self|=value.
 |
 |  __isub__(self, value, /)
 |      Return self-=value.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __ixor__(self, value, /)
 |      Return self^=value.
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __or__(self, value, /)
 |      Return self|value.
 |
 |  __rand__(self, value, /)
 |      Return value&self.
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __ror__(self, value, /)
 |      Return value|self.
 |
 |  __rsub__(self, value, /)
 |      Return value-self.
 |
 |  __rxor__(self, value, /)
 |      Return value^self.
 |
 |  __sizeof__(...)
 |      S.__sizeof__() -> size of S in memory, in bytes
 |
 |  __sub__(self, value, /)
 |      Return self-value.
 |
 |  __xor__(self, value, /)
 |      Return self^value.
 |
 |  add(...)
 |      Add an element to a set.
 |
 |      This has no effect if the element is already present.
 |
 |  clear(...)
 |      Remove all elements from this set.
 |
 |  copy(...)
 |      Return a shallow copy of a set.
 |
 |  difference(...)
 |      Return the difference of two or more sets as a new set.
 |
 |      (i.e. all elements that are in this set but not the others.)
 |
 |  difference_update(...)
 |      Remove all elements of another set from this set.
 |
 |  discard(...)
 |      Remove an element from a set if it is a member.
 |
 |      If the element is not a member, do nothing.
 |
 |  intersection(...)
 |      Return the intersection of two sets as a new set.
 |
 |      (i.e. all elements that are in both sets.)
 |
 |  intersection_update(...)
 |      Update a set with the intersection of itself and another.
 |
 |  isdisjoint(...)
 |      Return True if two sets have a null intersection.
 |
 |  issubset(...)
 |      Report whether another set contains this set.
 |
 |  issuperset(...)
 |      Report whether this set contains another set.
 |
 |  pop(...)
 |      Remove and return an arbitrary set element.
 |      Raises KeyError if the set is empty.
 |
 |  remove(...)
 |      Remove an element from a set; it must be a member.
 |
 |      If the element is not a member, raise a KeyError.
 |
 |  symmetric_difference(...)
 |      Return the symmetric difference of two sets as a new set.
 |
 |      (i.e. all elements that are in exactly one of the sets.)
 |
 |  symmetric_difference_update(...)
 |      Update a set with the symmetric difference of itself and another.
 |
 |  union(...)
 |      Return the union of sets as a new set.
 |
 |      (i.e. all elements that are in either set.)
 |
 |  update(...)
 |      Update a set with the union of itself and others.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

In [25]:
### add : used to add a new element to the set.

myset

{'five', 'four', 'one', 'three', 'two'}

In [26]:
myset.add("six")

In [27]:
myset

{'five', 'four', 'one', 'six', 'three', 'two'}

In [28]:
## update
myset.update(["seven","eight","nine"]) ### used to add multiple elements to the set

In [29]:
myset

{'eight', 'five', 'four', 'nine', 'one', 'seven', 'six', 'three', 'two'}

In [30]:
### remove  ### used to delete a particular element by name

myset.remove("nine")

In [31]:
myset

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [32]:
### discard:

myset.discard("one")

In [33]:
myset

{'eight', 'five', 'four', 'seven', 'six', 'three', 'two'}

In [34]:
myset.clear() ### deleting all the elements from the set.

In [35]:
myset

set()

In [36]:
del myset ### deleting the set object

In [37]:
myset

NameError: name 'myset' is not defined

In [38]:
### copy:

myset = {1,2,3,4,5,6}
myset

{1, 2, 3, 4, 5, 6}

In [39]:
myset1 = myset

In [40]:
myset1

{1, 2, 3, 4, 5, 6}

In [41]:
id(myset),id(myset1)

(2549362505096, 2549362505096)

In [48]:
my_set = myset.copy()
my_set

{1, 2, 3, 4, 5, 6, 'nine'}

In [43]:
id(my_set)

2549362505768

In [49]:
myset.add("nine")  ### all the changes in the original set will be applied in the copy set.

In [50]:
myset

{1, 2, 3, 4, 5, 6, 'nine'}

In [51]:
my_set

{1, 2, 3, 4, 5, 6, 'nine'}

In [52]:
my_set.add("one") ### changes in copy set won't replicate in original set.
my_set

{1, 2, 3, 4, 5, 6, 'nine', 'one'}

In [53]:
myset

{1, 2, 3, 4, 5, 6, 'nine'}

In [54]:
### Set operations:

A = {1,2,3,4,5}
B = {4,5,6,7,8}
C = {8,9,10}

In [55]:
## Union:
A | B

{1, 2, 3, 4, 5, 6, 7, 8}

In [56]:
A.union(B) ## union of A and B

{1, 2, 3, 4, 5, 6, 7, 8}

In [57]:
A.union(B,C) ### union A,B,C

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [58]:
A.update(B,C)

In [59]:
A

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [60]:
### Intersection:

A = {1,2,3,4,5}
B = {4,5,6,7,8}

In [61]:
A & B

{4, 5}

In [62]:
A.intersection(B)

{4, 5}

In [63]:
### intersection_update:

A.intersection_update(B)  ## intersecton elements update into the A.

In [64]:
A

{4, 5}

In [67]:
### Difference: length of the sets should be same.

A = {1,2,3,4,5}
B = {4,5,6,7,8}

A - B

{1, 2, 3}

In [68]:
A.difference(B)

{1, 2, 3}

In [69]:
### difference_update:
A.difference_update(B)

In [70]:
A

{1, 2, 3}

In [71]:
### symmetric Difference:
A = {1,2,3,4,5}
B = {4,5,6,7,8}

In [72]:
A.symmetric_difference(B)  #### exlcudes the common elements in both sets.

{1, 2, 3, 6, 7, 8}

In [73]:
### Symmetric_difference_update:

A.symmetric_difference_update(B)

In [74]:
A

{1, 2, 3, 6, 7, 8}

In [83]:
### Subset:
A = {1,2,3,4,5,6,7,8,10}
B = {3,4,5,6,7}
c = {20,30,40}

In [76]:
B.issubset(A)

True

In [77]:
C.issubset(A)

False

In [78]:
### disjoint:

B.isdisjoint(A)

False

In [86]:
c.isdisjoint(A)

True

In [88]:
### superset:

A.issuperset(B)

True

In [89]:
sum(A)

46

In [90]:
max(A)

10

In [91]:
min(A)

1

In [92]:
len(A)

9

In [94]:
sorted(A,reverse = True)

[10, 8, 7, 6, 5, 4, 3, 2, 1]

### Dictionary:

* we represent dictionary in {}
* Dictionary is combination of Key and value.
* These are mutable.
* keys are unique and values can be duplicate.
* We cannot apply indexing for dictionaries.

In [96]:
### creating dictionary:

mydict = dict()
mydict

{}

In [97]:
type(mydict)

dict

In [100]:
mydict = {1 : "one",2 : "two",3 : "Three"}
mydict

{1: 'one', 2: 'two', 3: 'Three'}

In [103]:
mydict = dict({1 : "one",2 : "two",3 : "Three"})

In [105]:
mydict.keys()

dict_keys([1, 2, 3])

In [106]:
mydict.values()

dict_values(['one', 'two', 'Three'])

In [107]:
mydict.items()

dict_items([(1, 'one'), (2, 'two'), (3, 'Three')])

In [108]:
mydict = {1 : "one",2 : "two",3 : "Three",1 : "four"}
mydict

{1: 'four', 2: 'two', 3: 'Three'}

In [110]:
sub = {"one" : [1,2,3,4],"two" : (1,2,3,4),"three" : {1 : "one",2 : "two"}}

In [111]:
sub

{'one': [1, 2, 3, 4], 'two': (1, 2, 3, 4), 'three': {1: 'one', 2: 'two'}}

In [112]:
help(dict)

Help on class dict in module builtins:

class dict(object)
 |  dict() -> new empty dictionary
 |  dict(mapping) -> new dictionary initialized from a mapping object's
 |      (key, value) pairs
 |  dict(iterable) -> new dictionary initialized as if via:
 |      d = {}
 |      for k, v in iterable:
 |          d[k] = v
 |  dict(**kwargs) -> new dictionary initialized with the name=value pairs
 |      in the keyword argument list.  For example:  dict(one=1, two=2)
 |
 |  Methods defined here:
 |
 |  __contains__(self, key, /)
 |      True if the dictionary has the specified key, else False.
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(...)
 |      x.__getitem__(y) <==> x[y]
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(...)
 |      D.__sizeof__() -> size of D in memory, in bytes
 |
 |  clear(...)
 |      D.clear() -> None.  Remove all items from D.
 |
 |  copy(...)
 |      D.copy() -> a shallow copy of D
 |
 |  get(self, key, default=None, /)
 |      Return the value for key if key is in the dictionary, else default.
 |
 |  items(...)
 |      D.items() -> a set-like object providing a view on D's items
 |
 |  keys(...)
 |      D.keys() -> a set-like object providing a view on D's keys
 |
 |  pop(...)
 |      D.pop(k[,d]) -> v, remove specified key and return the corresponding value.
 |      If key is not found, d is returned if given, otherwise KeyError is raised
 |
 |  popitem(...)
 |      D.popitem() -> (k, v), remove and return some (key, value) pair as a
 |      2-tuple; but raise KeyError if D is empty.
 |
 |  setdefault(self, key, default=None, /)
 |      Insert key with a value of default if key is not in the dictionary.
 |
 |      Return the value for key if key is in the dictionary, else default.
 |
 |  update(...)
 |      D.update([E, ]**F) -> None.  Update D from dict/iterable E and F.
 |      If E is present and has a .keys() method, then does:  for k in E: D[k] = E[k]
 |      If E is present and lacks a .keys() method, then does:  for k, v in E: D[k] = v
 |      In either case, this is followed by: for k in F:  D[k] = F[k]
 |
 |  values(...)
 |      D.values() -> an object providing a view on D's values
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  fromkeys(iterable, value=None, /) from builtins.type
 |      Create a new dictionary with keys from iterable and values set to value.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

In [114]:
###fromkeys:

keys = {'a','b','c','d'}
mydic1 = dict.fromkeys(keys)
mydic1

{'d': None, 'a': None, 'b': None, 'c': None}

In [115]:
keys = {'a','b','c','d'}
value = 10
mydic1 = dict.fromkeys(keys,value)
mydic1

{'d': 10, 'a': 10, 'b': 10, 'c': 10}

In [116]:
keys = {'a','b','c','d'}
value = [10,12,13]
mydic1 = dict.fromkeys(keys,value)
mydic1

{'d': [10, 12, 13], 'a': [10, 12, 13], 'b': [10, 12, 13], 'c': [10, 12, 13]}

In [117]:
value.append(40)

In [118]:
mydic1

{'d': [10, 12, 13, 40],
 'a': [10, 12, 13, 40],
 'b': [10, 12, 13, 40],
 'c': [10, 12, 13, 40]}

In [119]:
## accessing the elements from the dictionary:
mydict

{1: 'four', 2: 'two', 3: 'Three'}

In [120]:
mydict[1]

'four'

In [121]:
### get:
mydict.get(1)

'four'

In [122]:
## adding key and value 
d1 = {"name" : "Niharikaa","stream" : "ML","ID":1234}
d1

{'name': 'Niharikaa', 'stream': 'ML', 'ID': 1234}

In [123]:
d1.update({"DOB" : 2000})

In [124]:
d1

{'name': 'Niharikaa', 'stream': 'ML', 'ID': 1234, 'DOB': 2000}

In [126]:
d1["Address"] = "Seetharampuram"

In [127]:
d1

{'name': 'Niharikaa',
 'stream': 'ML',
 'ID': 1234,
 'DOB': 2000,
 'Address': 'Seetharampuram'}

In [128]:
## pop:

d1.pop("DOB")

2000

In [129]:
d1

{'name': 'Niharikaa', 'stream': 'ML', 'ID': 1234, 'Address': 'Seetharampuram'}

In [132]:
### pop item:

d1.popitem()

('ID', 1234)

In [131]:
d1

{'name': 'Niharikaa', 'stream': 'ML', 'ID': 1234}

In [137]:
del[d1['stream']]

In [138]:
d1

{'name': 'Niharikaa'}

In [139]:
#### clear:
d1.clear()

In [140]:
d1

{}

In [141]:
del d1

In [143]:
d1

NameError: name 'd1' is not defined

In [144]:
### copy :
d1 = {"name" : "Niharikaa","stream" : "ML","ID":1234}
d1

{'name': 'Niharikaa', 'stream': 'ML', 'ID': 1234}

In [145]:
d = d1

In [146]:
id(d),id(d1)

(2549362658400, 2549362658400)

In [156]:
d = d1.copy()
d

{'name': 'Niharikaa', 'stream': 'ML', 'ID': 1234, 'Address': 'Hyderabad'}

In [149]:
id(d)

2549363407032

In [157]:
d1["Address"] = "Hyderabad"

In [158]:
d1

{'name': 'Niharikaa', 'stream': 'ML', 'ID': 1234, 'Address': 'Hyderabad'}

In [159]:
d

{'name': 'Niharikaa', 'stream': 'ML', 'ID': 1234, 'Address': 'Hyderabad'}

In [160]:
### Looping of dictionary:

d1

{'name': 'Niharikaa', 'stream': 'ML', 'ID': 1234, 'Address': 'Hyderabad'}

In [161]:
for i in d1:
    print(i)

name
stream
ID
Address

In [163]:
for i in d1.items():
    print(i)

('name', 'Niharikaa')
('stream', 'ML')
('ID', 1234)
('Address', 'Hyderabad')

In [164]:
for i in d1.keys():
    print(i)

name
stream
ID
Address

In [167]:
for i in d1:
    print(i ,":",d1[i])

name : Niharikaa
stream : ML
ID : 1234
Address : Hyderabad

### All and Any:

* If any key value is zero then it gives False otherwise it will true.

In [168]:
all(d1)

True

In [169]:
d1[0] = "trainer"

In [170]:
d1

{'name': 'Niharikaa',
 'stream': 'ML',
 'ID': 1234,
 'Address': 'Hyderabad',
 0: 'trainer'}

In [171]:
all(d1)

False

In [172]:
any(d1)

True

In [174]:
help(dict)

Help on class dict in module builtins:

class dict(object)
 |  dict() -> new empty dictionary
 |  dict(mapping) -> new dictionary initialized from a mapping object's
 |      (key, value) pairs
 |  dict(iterable) -> new dictionary initialized as if via:
 |      d = {}
 |      for k, v in iterable:
 |          d[k] = v
 |  dict(**kwargs) -> new dictionary initialized with the name=value pairs
 |      in the keyword argument list.  For example:  dict(one=1, two=2)
 |
 |  Methods defined here:
 |
 |  __contains__(self, key, /)
 |      True if the dictionary has the specified key, else False.
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(...)
 |      x.__getitem__(y) <==> x[y]
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(...)
 |      D.__sizeof__() -> size of D in memory, in bytes
 |
 |  clear(...)
 |      D.clear() -> None.  Remove all items from D.
 |
 |  copy(...)
 |      D.copy() -> a shallow copy of D
 |
 |  get(self, key, default=None, /)
 |      Return the value for key if key is in the dictionary, else default.
 |
 |  items(...)
 |      D.items() -> a set-like object providing a view on D's items
 |
 |  keys(...)
 |      D.keys() -> a set-like object providing a view on D's keys
 |
 |  pop(...)
 |      D.pop(k[,d]) -> v, remove specified key and return the corresponding value.
 |      If key is not found, d is returned if given, otherwise KeyError is raised
 |
 |  popitem(...)
 |      D.popitem() -> (k, v), remove and return some (key, value) pair as a
 |      2-tuple; but raise KeyError if D is empty.
 |
 |  setdefault(self, key, default=None, /)
 |      Insert key with a value of default if key is not in the dictionary.
 |
 |      Return the value for key if key is in the dictionary, else default.
 |
 |  update(...)
 |      D.update([E, ]**F) -> None.  Update D from dict/iterable E and F.
 |      If E is present and has a .keys() method, then does:  for k in E: D[k] = E[k]
 |      If E is present and lacks a .keys() method, then does:  for k, v in E: D[k] = v
 |      In either case, this is followed by: for k in F:  D[k] = F[k]
 |
 |  values(...)
 |      D.values() -> an object providing a view on D's values
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  fromkeys(iterable, value=None, /) from builtins.type
 |      Create a new dictionary with keys from iterable and values set to value.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

### Task:

* Create a dictionar with keys name,roll.no,mobile.no,subject ---another dict(s1,s2,s3,s4)