# Day Objectives:
###  Python Basics

* How to check your Python version
* Comments in Python (#, ctrl+/)

**Data Types:**

    A. int,float,bool<br>
    B. List,tuple,string,Dictionary, set
    
* variables 

* Type Casting


**OPERATORS**

    A. Arithmetic Operators ( +,-,*,%,/,//,**)
    
    B. Assignment Operators ( =, +=, -=, *=, %=, /=, //=)
    
    C. Comparison operators ( ==, >=, <=, !=, >, < )
    
    D. Logical operators  ( and, or, not )
    
    E. Bitwise Operators ( &, |, ~, ^, >>, <<)
    
    F. Identity Operators ( is , is not )
    
    G. Membership Operators ( in , not in ) 
    
#### variable Features


#### variable assignments

  - single variable assignment
  - multiple variable assignment
  
  
#### Dynamic input reading

#### Conditional Statements

    - if
    - if else
    - if elif else
    - Nested if

In [3]:
# How to check your Python version
import sys
sys.version
# shift+enter
# alt+enter
# cntrl+enter

'3.8.3 (default, Jul  2 2020, 17:30:36) [MSC v.1916 64 bit (AMD64)]'

Comments in Python

In [5]:
# comments
# 132+244
132+3445

3577

In [ ]:
# multi line comments cntrl+/

# sdhfhgddf
# dvfhdfgh
# dsfhdfh
# jdgjhfag
# jdaghfh

#### Data Types:
- int,float,char,double,bool,long, str, --c

- int,float,bool
- Iterables - str,list,set,tuple,dict

In [6]:
v = 100 # variable - it holds any type of data
type(v)

int

In [7]:
d = 100.900
type(d)

float

In [8]:
s = "string"  # strig is a collection char's 
type(s)

str

In [9]:
c = 's'
type(s)

str

In [14]:
b = False
type(b)

bool

In [11]:
l = ["lavanya",123,890.900] # list  - data structure 
type(l)

list

In [12]:
s = set()  # sets
ss = {123,3455,566}
type(s)

set

In [13]:
type(ss)

set

In [15]:
d = dict() # dictionary - combination of both key, value pair
type(d)

dict

In [16]:
d = {"name":"lavanya",
     "role":"Technical skill Trainer",
     "Exp":2}
type(d)

dict

In [18]:
t = () # tuple
type(t)

tuple

In [19]:
t = (123,45,657,879,98)
type(t)

tuple

### Variable
- it's a name
- It Holds any type of data

### Type Casting
- Changing one data type into another data type

In [20]:
# string into int
s = "2021"
s+1

TypeError: can only concatenate str (not "int") to str

In [21]:
s+"2"

'20212'

In [22]:
int(s)+1 # str to int

2022

In [23]:
# int to str
str(9000)

'9000'

In [24]:
# float to int
int(345.565)

345

In [25]:
# int to float
float(8000)

8000.0

In [26]:
# str to int
int("hi") # h having some ASCII

ValueError: invalid literal for int() with base 10: 'hi'

In [27]:
int("0")

0

### OPERATORS
- Performs a particular operation on operands
- relation between 1 or 2 operands
- 6 different types of operatos:
    A. Arithmetic Operators ( +,-,*,%,/,//,**)

    B. Assignment Operators ( =, +=, -=, *=, %=, /=, //=)

    C. Comparison operators ( ==, >=, <=, !=, >, < )

    D. Logical operators  ( and, or, not )

    E. Bitwise Operators ( &, |, ~, ^, >>, <<)

    F. Identity Operators ( is , is not )

    G. Membership Operators ( in , not in )

###  A. Arithmetic Operators ( +,-,*,%,/,//,**)

In [33]:
234+345
a = 234
b = 355
a*b

83070

In [29]:
345-345

0

In [30]:
345*56

19320

In [31]:
23/2

11.5

In [32]:
23//2

11

In [34]:
23%2

1

### B. Assignment Operators ( =, +=, -=, *=, %=, /=, //=)

In [37]:
a = 100

In [41]:
a += 100
a

500

In [43]:
a = a+100
a

700

In [44]:
a -= 100
a

600

In [47]:
2333/0

ZeroDivisionError: division by zero

### C. Comparison operators ( ==, >=, <=, !=, >, < )
- True or False

In [49]:
a  == 600

True

In [51]:
a = 1000
b = 500
print(a == b)
print(a >= b)
print(a <= b)
print(a != b)
print(a > b)
print(a < b)

False
True
False
True
True
False

###    D. Logical operators  ( and, or, not )

In [52]:
True and False

False

In [53]:
True and True  # True Statement

True

In [54]:
True or False

True

In [55]:
False or False  # False

False

In [56]:
not True

False

In [57]:
not False

True

In [58]:
3445 and 45

45

In [59]:
34 and 10

10

In [60]:
54 and 4354647657765

4354647657765

In [61]:
234 or 23

234

In [62]:
23 and 0

0

In [63]:
0 or 34

34

In [64]:
0 or 234

234

In [65]:
234 or 0  # True and False -- True

234

In [66]:
0 and 345

0

In [67]:
3445 and 0 # True and False -- false

0

In [68]:
not(-1)

False

In [69]:
not(0)

True

In [72]:
not True

False

### E. Bitwise Operators ( &, |, ~, ^, >>, <<)

In [71]:
10 & 2

2

10 -- 1010
2  -- 0010
&  -- 0010 -- 2

In [73]:
1234 & 3

2

In [74]:
133 & 0

0

In [75]:
12 | 2

14

12 -- 1100
2 --- 0010
|---- 1110   - 14

In [76]:
~ 1

-2

In [77]:
~ -2

1

In [83]:
# -(n+1)

~ -1
-(-1+1)

0

In [84]:
~ 2
-(2+1)

-3

In [80]:
~ 3

-4

In [85]:
~ 4
-(4+1)

-5

In [86]:
~ -4
-(-4+1)

3

In [94]:
# >> right shift -- div by 2 with given number of times
# << left shift  -- Multiply by 2 with given number of times

print(12 >> 2)
12//2 
6 // 2

3

3

In [88]:
12 >> 1

6

In [98]:
print(12 >> 3)
12 // 2
6 // 2
3 //2

1

1

In [106]:
print(12 << 2 )
12 * 2
24 * 2

48

48

In [100]:
12 << 1

24

In [101]:
12 << 3

96

In [102]:
12 << 4

192

In [107]:
12 ^ 2

14

12 -- 1100
2  -- 0010
      1110 - 14

### F. Identity Operators ( is , is not )

In [108]:
True is True  # ==

True

In [109]:
123 is not 123 # !=

<>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<ipython-input-109-adfa2fcc4105>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
  123 is not 123

False

In [110]:
# == it's comapring the values only
# is - it's comparing both value and address location

### G. Membership Operators ( in , not in )

In [111]:
"sanna" in "Prasanna"

True

In [113]:
478 in [23,34,56,67,78,845,34,32,23, 478]

True

In [120]:
"23" not in [23,34,54,6]

True

In [121]:
"s" in "apssdc"

True

### variable Features
- do's
    - char
    - string
    - string+number
    - _ 
    

- don't
     - number
     - Spl Char's

In [127]:
v = 100
# 100 = "V"
st10 = 100
_ = 100
# $ = 90

SyntaxError: invalid syntax (<ipython-input-127-9073cbe0e916>, line 5)

### variable assignments
- single variable assignment
- multiple variable assignment

In [129]:
v = 10000  # single variable Assignment
v1,v2,v3 = 100
print(v1)

TypeError: cannot unpack non-iterable int object

In [130]:
v1,v2,v3 = 100,200,300 # multi variable assignment
v3

300

In [131]:
v1 = 100,200,300
v1

(100, 200, 300)

In [132]:
type(v1)

tuple

# Dynamic Reading

In [136]:
age = input("enter your age")
print("my age is ", age)

enter your age24
my age is  24

In [138]:
age = int(input("enter your age"))
print("my age is ", age)

enter your age345
my age is  345

In [139]:
age = float(input("enter your age"))
print("my age is ", age)

enter your age34
my age is  34.0

In [143]:
ph = input("enter your phone number")
print("your ph number",ph)

enter your phone number8765453219
your ph number 8765453219